github "robbiehanson/CocoaAsyncSocket" "master"
github "CocoaLumberjack/CocoaLumberjack" "master"
github "lexrus/MMDB-Swift" "master"
github "zhuhaow/Sodium-framework" "master"
github "behrang/YamlSwift" "master"
github "zhuhaow/tun2socks" "master"
github "zhuhaow/Resolver" "master"
