github "JayZhao/CocoaAsyncSocket" "master"
github "CocoaLumberjack/CocoaLumberjack" "master"
github "zhuhaow/Sodium-framework" "master"
github "SwiftyJSON/SwiftyJSON" "master"
github "JayZhao/tun2socks" "master"
github "facebook/KVOController" "master"